### we have to merge the csv_files and clean and transform before putting inside the sql

In [1]:
import pandas as pd
import pymysql

In [20]:
# Reading CSV files
df1 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\ap_bus_details.csv")
df2 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\tel_bus_details.csv")
df3 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\ker_bus_details.csv")
df4 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\sbtc_bus_details.csv")
df5 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\wb_bus_details.csv")
df6 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\hr_bus_details.csv")
df7 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\bihar_bus_details.csv")
df8 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\rj_bus_details.csv")
df9 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\pep_bus_details.csv")
df10 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\up_bus_details.csv")

# Concatenating all the dataframes
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [21]:

#  Dropping the  rows only  'Bus_Name' is null
df = df.dropna(subset=['Bus_Name'])

# Extract digits from 'Price' and convert to float
df['Price'] = df['Price'].str.replace('INR'," ").astype(float)

# replace any remaining nulls with 0
df.fillna(0, inplace=True)

# extract the seat numbers
df['Seat_Availability'] = df['Seat_Availability'].str.extract(r'(\d+)')

# Step 5: Convert 'Star_Ratings' to float
df['Star_Ratings'] = df['Star_Ratings'].astype(float)

In [25]:
df.to_csv("DF1.csv")

In [1]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          # Change to your MySQL host
    user="root",               # Your MySQL username
    password="123456789",      # Your MySQL password
    database="red_bus"         # Database name
)

# Connect to MySQL
cursor = connection.cursor()

# Example query
query = "SHOW TABLES;"  # Change this to any SQL query you want to run
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Print results
for row in results:
    print(row)

# Close the connection
cursor.close()
connection.close()

('bus_detail',)
('bus_details',)

In [29]:
import pandas as pd
import pymysql

# Load the CSV file
df = pd.read_csv(r'C:\Users\razih\OneDrive\Desktop\New\DF1.csv')

df['Departure'] = pd.to_datetime(df['Departure'], errors='coerce').dt.time
df['Reach'] = pd.to_datetime(df['Reach'], errors='coerce').dt.time

# Convert 'Seat_Availability' to numeric (int)
df['Seat_Availability'] = pd.to_numeric(df['Seat_Availability'], errors='coerce').fillna(0).astype(int)


# Database connection
connection = pymysql.connect(
    host = "localhost", 
    user = "root",       
    password = "123456789",  
    database = "red_bus" 
)

# Connect to MySQL
cursor = connection.cursor()

# Create table SQL query
create_query = """ CREATE TABLE IF NOT EXISTS bus_data (
                                    id INT AUTO_INCREMENT PRIMARY KEY,
                                    Route_Name VARCHAR(255),Route_Link TEXT,
                                    Bus_Name VARCHAR(255),Bus_Type VARCHAR(255),
                                    Departure TIME,Duration VARCHAR(50),Reach TIME,
                                    Star_Ratings FLOAT,Price FLOAT,Seat_Availability INT); """
cursor.execute(create_query)

# Insert data into the table
insert_query = """ INSERT INTO bus_data (Route_Name, Route_Link, Bus_Name, Bus_Type, Departure,
                                    Duration, Reach, Star_Ratings, Price, Seat_Availability) 
                                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s); """

for i, row in df.iterrows():
    cursor.execute(insert_query, (
        row['Route_Name'], row['Route_Link'], row['Bus_Name'], row['Bus_Type'],
        row['Departure'], row['Duration'], row['Reach'], 
        row['Star_Ratings'], row['Price'], row['Seat_Availability']
    ))

# Commit changes and close connection
connection.commit()
cursor.close()
connection.close()

C:\Users\razih\AppData\Local\Temp\ipykernel_15380\1451231310.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Departure'] = pd.to_datetime(df['Departure'], errors='coerce').dt.time
C:\Users\razih\AppData\Local\Temp\ipykernel_15380\1451231310.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Reach'] = pd.to_datetime(df['Reach'], errors='coerce').dt.time