### we have to merge the csv_files and clean and transform before putting inside the sql

In [2]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import pymysql

In [4]:
# Reading CSV files
df1 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\ap_bus_details.csv")
df2 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\tel_bus_details.csv")
df3 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\ker_bus_details.csv")
df4 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\sbtc_bus_details.csv")
df5 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\wb_bus_details.csv")
df6 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\hr_bus_details.csv")
df7 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\bihar_bus_details.csv")
df8 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\rj_bus_details.csv")
df9 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\pep_bus_details.csv")
df10 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\redbus\up_bus_details.csv")

# Concatenating all the dataframes
#df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [8]:
df1['state']='Andra Pradesh'
df2['state']='Telungana'
df3['state']='Kerala'
df4['state']='South Bengal'
df5['state']='West Bengal'
df6['state']='Himachal Pradesh'
df7['state']='Bihar'
df8['state']='Rajasthan'
df9['state']='Punjab'
df10['state']='Uttar Pradesh'

In [9]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [10]:
df = df.dropna(subset=['Bus_Name'])#  Dropping the  rows only  'Bus_Name' is null
df['Price'] = df['Price'].str.replace('INR'," ").astype(float)# Extracting digits from 'Price' and convert to float
df.fillna(0, inplace=True)# replace any remaining nulls with 0
df['Seat_Availability'] = df['Seat_Availability'].str.extract(r'(\d+)')# extract the seat numbers

df['Star_Ratings'] = df['Star_Ratings'].astype(float)# Convert 'Star_Ratings' to float

In [11]:
len(df)

4063

In [12]:
df.to_csv("DF.csv")

In [13]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\razih\onedrive\desktop\new\.venv\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          
    user="root",             
    password="123456789",     

)

# Connect to MySQL
cursor = connection.cursor()

# Example query
query = "show databases;"  # Checking the databases
cursor.execute(query)
for row in cursor:
    print(row)

('dataspark',)
('ds_wd_mde89',)
('information_schema',)
('mysql',)
('performance_schema',)
('red_bus',)
('sakila',)
('sys',)
('world',)

In [20]:
import pandas as pd
import pymysql

# Load the CSV file
df = pd.read_csv(r'C:\Users\razih\OneDrive\Desktop\New\redbus\DF.csv')
df['Seat_Availability'] = pd.to_numeric(df['Seat_Availability'], errors='coerce').fillna(0).astype(int)
df

,Unnamed: 0,Route_Name,Route_Link,Bus_Name,Bus_Type,Departure,Duration,Reach,Star_Ratings,Price,Seat_Availability,state
0,0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3722,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,06h 15m,20:45,3.2,412.0,29,Andra Pradesh
1,1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3859,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),15:15,06h 10m,21:25,3.1,648.0,43,Andra Pradesh
2,2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,07h 00m,22:45,3.7,639.0,36,Andra Pradesh
3,3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,06h 15m,22:30,3.7,615.0,41,Andra Pradesh
4,4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,08h 25m,00:45,3.5,469.0,23,Andra Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...
4058,4704,Prayagraj(Uttar Pradesh) to Azamgarh,https://www.redbus.in/bus-tickets/allahabad-to...,UPSRTC - BTR0023,Ordinary Non AC Seater 2+3,19:00,06h 17m,01:17,3.3,258.0,52,Uttar Pradesh
4059,4705,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - HDD0063,Ordinary Non AC Seater 2+3,18:00,07h 03m,01:03,3.3,600.0,52,Uttar Pradesh
4060,4706,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0610,Ordinary Non AC Seater 2+3,18:45,08h 00m,02:45,3.3,634.0,52,Uttar Pradesh
4061,4707,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - BRT0007,Ordinary Non AC Seater 2+3,19:40,08h 20m,04:00,3.3,617.0,52,Uttar Pradesh
4062,4708,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0281,Ordinary Non AC Seater 2+3,19:45,07h 20m,03:05,3.3,634.0,52,Uttar Pradesh

In [22]:

# Database connection
connection = pymysql.connect(
    host = "localhost", 
    user = "root",       
    password = "123456789",  
    database = "red_bus" 
)

# Connect to MySQL
cursor = connection.cursor()

# Create table SQL query
create_query = """ CREATE TABLE IF NOT EXISTS bus_details(
                                    ID INT AUTO_INCREMENT PRIMARY KEY,
                                    Route_Name VARCHAR(255),Route_Link TEXT,
                                    Bus_Name VARCHAR(255),Bus_Type VARCHAR(255),
                                    Departure TIME,Duration VARCHAR(25),Reach TIME,
                                    Star_Ratings FLOAT,Price FLOAT,Seat_Availability INT,state varchar(50)); """
cursor.execute(create_query)

# Insert data into the table
insert_query = """ INSERT INTO bus_details(Route_Name, Route_Link, Bus_Name, Bus_Type, Departure,
                                    Duration, Reach, Star_Ratings, Price, Seat_Availability, state) 
                                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s); """

for i, row in df.iterrows():
    cursor.execute(insert_query, (
        row['Route_Name'], row['Route_Link'], row['Bus_Name'], row['Bus_Type'],
        row['Departure'], row['Duration'], row['Reach'], 
        row['Star_Ratings'], row['Price'], row['Seat_Availability'], row['state'],
    ))

# Commit changes and close connection
connection.commit()
cursor.close()
connection.close()

In [23]:
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",         
    user="root",               
    password="123456789",  
    database="red_bus"         
)

# Connect to MySQL
cursor = connection.cursor()

query ="select Departure from bus_details"
cursor.execute(query)

for i in cursor:
    print(i)
    break

(datetime.timedelta(seconds=52200),)

In [24]:
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          
    user="root",              
    password="123456789",    
    database="red_bus"         
)

# Connect to MySQL
cursor = connection.cursor()

query ="describe bus_details"
cursor.execute(query)

for i in cursor:
    print(i)

('ID', 'int', 'NO', 'PRI', None, 'auto_increment')
('Route_Name', 'varchar(255)', 'YES', '', None, '')
('Route_Link', 'text', 'YES', '', None, '')
('Bus_Name', 'varchar(255)', 'YES', '', None, '')
('Bus_Type', 'varchar(255)', 'YES', '', None, '')
('Departure', 'time', 'YES', '', None, '')
('Duration', 'varchar(25)', 'YES', '', None, '')
('Reach', 'time', 'YES', '', None, '')
('Star_Ratings', 'float', 'YES', '', None, '')
('Price', 'float', 'YES', '', None, '')
('Seat_Availability', 'int', 'YES', '', None, '')
('state', 'varchar(50)', 'YES', '', None, '')

In [ ]:
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          
    user="root",               
    password="123456789",       
    database="red_bus"         
)

# Connect to MySQL
cursor = connection.cursor()

query ="select Departure from bus_detail"
cursor.execute(query)

for i in cursor:
    print(i)
    break

(datetime.timedelta(seconds=52200),)