### we have to merge the csv_files and clean and transform before putting inside the sql

In [9]:
import pandas as pd
from mysql import connector

In [10]:
# Reading CSV files
df1 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\ap_bus_details.csv")
df2 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\tel_bus_details.csv")
df3 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\ker_bus_details.csv")
df4 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\sbtc_bus_details.csv")
df5 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\wb_bus_details.csv")
df6 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\hr_bus_details.csv")
df7 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\bihar_bus_details.csv")
df8 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\rj_bus_details.csv")
df9 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\pep_bus_details.csv")
df10 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\up_bus_details.csv")

# Concatenating all the dataframes
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [11]:
df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departure,Duration,Reach,Star_Ratings,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3722,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,06h 15m,20:45,3.2,INR 412,29 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3859,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),15:15,06h 10m,21:25,3.1,INR 648,43 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,07h 00m,22:45,3.7,INR 639,36 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,06h 15m,22:30,3.7,INR 615,41 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,08h 25m,00:45,3.5,INR 469,23 Seats available
...,...,...,...,...,...,...,...,...,...,...
4706,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0610,Ordinary Non AC Seater 2+3,18:45,08h 00m,02:45,3.3,INR 634,52 Seats available
4707,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - BRT0007,Ordinary Non AC Seater 2+3,19:40,08h 20m,04:00,3.3,INR 617,52 Seats available
4708,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0281,Ordinary Non AC Seater 2+3,19:45,07h 20m,03:05,3.3,INR 634,52 Seats available
4709,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4710,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.isna().sum()

Route_Name             0
Route_Link             0
Bus_Name             648
Bus_Type             667
Departure            648
Duration             648
Reach                648
Star_Ratings         652
Price                653
Seat_Availability    663
dtype: int64

In [13]:
# Cleaning the 'Price' column by removing the 'INR' symbol and converting to float
df['Price'] = df['Price'].str.replace('INR ', '').astype(float)

# Extracting digits from 'Seat_Availability' column
df['Seat_Availability'] = df['Seat_Availability'].str.extract(r'(\d+)')
# Filter out rows where 'Bus_Name' is 0
df = df[df['Bus_Name'] != 0]

df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departure,Duration,Reach,Star_Ratings,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3722,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30,06h 15m,20:45,3.2,412.0,29
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3859,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),15:15,06h 10m,21:25,3.1,648.0,43
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45,07h 00m,22:45,3.7,639.0,36
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15,06h 15m,22:30,3.7,615.0,41
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20,08h 25m,00:45,3.5,469.0,23
...,...,...,...,...,...,...,...,...,...,...
4706,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0610,Ordinary Non AC Seater 2+3,18:45,08h 00m,02:45,3.3,634.0,52
4707,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - BRT0007,Ordinary Non AC Seater 2+3,19:40,08h 20m,04:00,3.3,617.0,52
4708,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0281,Ordinary Non AC Seater 2+3,19:45,07h 20m,03:05,3.3,634.0,52
4709,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4710,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df=df.fillna(0,axis=1)

In [16]:
# Establishing the MySQL connection
connection = connector.connect(
    host='localhost',
    user='root',
    password='123456789',
    database='red_bus'
)

cursor = connection.cursor()

In [17]:

# Creating the table if it does not exist
query = """CREATE TABLE IF NOT EXISTS BUS_DETAILS(
    id INT PRIMARY KEY AUTO_INCREMENT,
    Route_name VARCHAR(255),
    Route_link VARCHAR(255),
    Bus_name VARCHAR(100) NOT NULL,
    Bus_type VARCHAR(255) NOT NULL,
    Departure_Time TIME NOT NULL,
    Arrival_Time TIME NOT NULL,
    Duration VARCHAR(255) NOT NULL,
    Price FLOAT,
    Seats_Available INT NOT NULL,
    Star_Ratings DECIMAL(3,2)
)"""

cursor.execute(query)
print("Table Created successfully")

Table Created successfully

In [19]:
# Insert query with the desired column order
insert_query = """INSERT INTO BUS_DETAILS (
    Route_name, Route_link, Bus_name, Bus_type, Departure_Time, 
    Duration, Arrival_Time, Star_Ratings, Price, Seats_Available
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

# Insert each row into the database
for i, row in df.iterrows():
    data = (
        row['Route_Name'],  # Match the correct column names here
        row['Route_Link'],
        row['Bus_Name'],
        row['Bus_Type'],
        row['Departure'],
        row['Duration'],
        row['Reach'],  # Assuming 'Reach' is equivalent to 'Arrival' time
        row['Star_Ratings'],
        row['Price'],
        row['Seat_Availability']
    )
    cursor.execute(insert_query, data)

# Commit the changes
connection.commit()

print("Data inserted successfully.")

cursor.close()

Data inserted successfully.

True