### we have to merge the csv_files and clean and transform before putting inside the sql

In [1]:
import pandas as pd
import pymysql

In [2]:
# Reading CSV files
df1 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\ap_bus_details.csv")
df2 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\tel_bus_details.csv")
df3 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\ker_bus_details.csv")
df4 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\sbtc_bus_details.csv")
df5 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\wb_bus_details.csv")
df6 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\hr_bus_details.csv")
df7 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\bihar_bus_details.csv")
df8 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\rj_bus_details.csv")
df9 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\pep_bus_details.csv")
df10 = pd.read_csv(r"C:\Users\razih\OneDrive\Desktop\New\up_bus_details.csv")

# Concatenating all the dataframes
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [3]:
len(df)

4711

In [4]:

#  Dropping the  rows only  'Bus_Name' is null
df = df.dropna(subset=['Bus_Name'])

# Extract digits from 'Price' and convert to float
df['Price'] = df['Price'].str.replace('INR'," ").astype(float)

# replace any remaining nulls with 0
df.fillna(0, inplace=True)

# extract the seat numbers
df['Seat_Availability'] = df['Seat_Availability'].str.extract(r'(\d+)')

# Step 5: Convert 'Star_Ratings' to float
df['Star_Ratings'] = df['Star_Ratings'].astype(float)

# Function to add ':00' if the time is in HH:MM format
def convert_to_full_time(time_str):
    if len(time_str.split(':')) == 2:  # Check if it's in HH:MM format
        time_str += ":00"  # Add seconds part
    return time_str

# Apply the function to 'Departure' and 'Reach' columns
df['Departure'] = df['Departure'].apply(convert_to_full_time)
df['Reach'] = df['Reach'].apply(convert_to_full_time)

In [5]:
len(df)

4063

In [6]:
df.to_csv("DF.csv")

In [1]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          # Change to your MySQL host
    user="root",               # Your MySQL username
    password="123456789",      # Your MySQL password
             # Database name
)

# Connect to MySQL
cursor = connection.cursor()

# Example query
query = "show databases;"  # Change this to any SQL query you want to run
cursor.execute(query)
#query = "create database red_bus;"  # Change this to any SQL query you want to run
#cursor.execute(query)
# Print results
for row in cursor:
    print(row)

('ds_wd_mde89',)
('information_schema',)
('mysql',)
('performance_schema',)
('red_bus',)
('sakila',)
('sys',)
('world',)

In [26]:
import pandas as pd
import pymysql

# Load the CSV file
df = pd.read_csv(r'C:\Users\razih\OneDrive\Desktop\New\DF.csv')
df['Seat_Availability'] = pd.to_numeric(df['Seat_Availability'], errors='coerce').fillna(0).astype(int)
df

,Unnamed: 0,Route_Name,Route_Link,Bus_Name,Bus_Type,Departure,Duration,Reach,Star_Ratings,Price,Seat_Availability
0,0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3722,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",14:30:00,06h 15m,20:45:00,3.2,412.0,29
1,1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3859,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),15:15:00,06h 10m,21:25:00,3.1,648.0,43
2,2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3356,NIGHT RIDER (SEATER CUM SLEEPER),15:45:00,07h 00m,22:45:00,3.7,639.0,36
3,3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3546,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),16:15:00,06h 15m,22:30:00,3.7,615.0,41
4,4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3500,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:20:00,08h 25m,00:45:00,3.5,469.0,23
...,...,...,...,...,...,...,...,...,...,...,...
4058,4704,Prayagraj(Uttar Pradesh) to Azamgarh,https://www.redbus.in/bus-tickets/allahabad-to...,UPSRTC - BTR0023,Ordinary Non AC Seater 2+3,19:00:00,06h 17m,01:17:00,3.3,258.0,52
4059,4705,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - HDD0063,Ordinary Non AC Seater 2+3,18:00:00,07h 03m,01:03:00,3.3,600.0,52
4060,4706,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0610,Ordinary Non AC Seater 2+3,18:45:00,08h 00m,02:45:00,3.3,634.0,52
4061,4707,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - BRT0007,Ordinary Non AC Seater 2+3,19:40:00,08h 20m,04:00:00,3.3,617.0,52
4062,4708,Shahjahanpur (Uttar Pradesh) to Delhi,https://www.redbus.in/bus-tickets/shahjahanpur...,UPSRTC - SJP0281,Ordinary Non AC Seater 2+3,19:45:00,07h 20m,03:05:00,3.3,634.0,52

In [27]:

# Database connection
connection = pymysql.connect(
    host = "localhost", 
    user = "root",       
    password = "123456789",  
    database = "red_bus" 
)

# Connect to MySQL
cursor = connection.cursor()

# Create table SQL query
create_query = """ CREATE TABLE IF NOT EXISTS bus_detail(
                                    id INT AUTO_INCREMENT PRIMARY KEY,
                                    Route_Name VARCHAR(255),Route_Link TEXT,
                                    Bus_Name VARCHAR(255),Bus_Type VARCHAR(255),
                                    Departure TIME,Duration VARCHAR(25),Reach TIME,
                                    Star_Ratings FLOAT,Price FLOAT,Seat_Availability INT); """
cursor.execute(create_query)

# Insert data into the table
insert_query = """ INSERT INTO bus_detail(Route_Name, Route_Link, Bus_Name, Bus_Type, Departure,
                                    Duration, Reach, Star_Ratings, Price, Seat_Availability) 
                                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s); """

for i, row in df.iterrows():
    cursor.execute(insert_query, (
        row['Route_Name'], row['Route_Link'], row['Bus_Name'], row['Bus_Type'],
        row['Departure'], row['Duration'], row['Reach'], 
        row['Star_Ratings'], row['Price'], row['Seat_Availability']
    ))

# Commit changes and close connection
connection.commit()
cursor.close()
connection.close()

In [32]:
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          # Change to your MySQL host
    user="root",               # Your MySQL username
    password="123456789",      # Your MySQL password
    database="red_bus"         # Database name
)

# Connect to MySQL
cursor = connection.cursor()

query ="select Departure from bus_detail"
cursor.execute(query)

for i in cursor:
    print(i)
    break

(datetime.timedelta(seconds=52200),)

In [33]:
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          # Change to your MySQL host
    user="root",               # Your MySQL username
    password="123456789",      # Your MySQL password
    database="red_bus"         # Database name
)

# Connect to MySQL
cursor = connection.cursor()

query ="describe bus_detail"
cursor.execute(query)

for i in cursor:
    print(i)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('Route_Name', 'varchar(255)', 'YES', '', None, '')
('Route_Link', 'text', 'YES', '', None, '')
('Bus_Name', 'varchar(255)', 'YES', '', None, '')
('Bus_Type', 'varchar(255)', 'YES', '', None, '')
('Departure', 'time', 'YES', '', None, '')
('Duration', 'varchar(25)', 'YES', '', None, '')
('Reach', 'time', 'YES', '', None, '')
('Star_Ratings', 'float', 'YES', '', None, '')
('Price', 'float', 'YES', '', None, '')
('Seat_Availability', 'int', 'YES', '', None, '')

In [23]:
import pymysql

# Database connection details
connection = pymysql.connect(
    host="localhost",          # Change to your MySQL host
    user="root",               # Your MySQL username
    password="123456789",      # Your MySQL password
    database="red_bus"         # Database name
)

# Connect to MySQL
cursor = connection.cursor()

query ="select Departure from bus_detail"
cursor.execute(query)

for i in cursor:
    print(i)
    break

(datetime.timedelta(seconds=52200),)